<h1>Train</h1>

<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="actions">
    <%= f.submit "commit" %>
  </div>
<% end %>